.landing-navbar{
    display: flex;
    width: 100vw;
    padding:2rem;
    justify-content: space-between;
    align-items: center;
}
.main-icon{
    display:flex;
    width:20rem;
    height:20rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/omni-logo.webp");

}
.nav-link{
    font-size: 18px;
    padding: 0rem 1rem;
    font-weight: 400;
    margin-right: 1rem;
    color:black;
}

#login-link{
    background-color: #1CAC78;
    color: white;
    border-radius: 1rem;
}

#login-link:hover{
    border-bottom: none;
}