.main-background{
    display: flex;
    padding: 2rem;
    margin:0;
    width:100%;
    height:100%;
    gap: 2rem;
    background-color: white;

}
.landing-page-main-text{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);



}
.landing-main-background{
    display:flex;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background: url('../../assets/images/globe.png');
}

.landing-page-main-h{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.landing-page-main-p{
    font-size:1.5rem;
}
.report-button{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: #1CAC78;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    color: white;
}
.report-button:hover{
    color:white;
}