.landing-navbar{
    display: flex;
    background:whitesmoke;
    width: 100%;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.1rem 0.1rem rgb(110, 110, 110);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.main-icon{
    display:flex;
    width:3rem;
    height:4rem;
    background-position: center;
    background-repeat: no-repeat;

}
.user-nav-links{
    padding: 1rem;
    border-radius: 1rem;
}
.user-nav-link{
    text-align:center;
    font-size: 2rem;
    padding: 0rem 1rem;
    font-weight: 400;
    margin-right: 1rem;
    color:black;
}
.user-nav-link:hover{
    background: #bbe6d4;
    border-radius: 0.2rem;
}
.user-nav-link:active{
    color:#1a7;
}