body{
    display:grid;
    grid-template-rows: 20vh  80vh;
}
.main-background{
    display: flex;
    padding: 2rem;
    margin:0;
    width:100%;
    height:100%;
    gap: 2rem;

}
.landing-page-main-text{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);



}
.landing-main-background{
    display:flex;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background: url('../../assets/images/globe.png');


}

.landing-page-main-h{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.landing-page-main-p{
    font-size:1.5rem;
}