*{
    margin:0;
    padding:0;
  }
  .authentication-page-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .authentication-page-hero-div{
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  .authentication-page-hero{
    width: 100%;
    height: 100%;
    background-color: #1CAC78;
    border-radius:1rem;
    border: 1px solid green;
    box-shadow: 0rem 0rem 1rem 0.5rem gray;
  }
 .Authentication-page-form-div{
    display: flex;
    flex-direction:column;
    width:100%;
    justify-content: center;
    align-items: center;
 }
  .authentication-page-form{
    display:flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: center;
    align-items: center;
  }
  .form-data{
    display:flex;
    flex-direction: column;
    min-width:21rem;
    flex-wrap: wrap;
  }
  .authentication-page-form h1 {
    margin-bottom: 5rem;
    white-space:nowrap;
  }
  .authentication-page-form h3{
    margin-bottom: 0.5rem;
  }
  .authentication-page-form label{
    margin:0.5rem 0 2px 0;
  }
  .authentication-input{
    padding: 0.5rem;
    border: 1px solid #1CAC78;
    border-radius: 0.5rem;
    accent-color: #1CAC78;
    outline: none;
    width:100%;
  }
  .authentication-page-form input:focus{
    border: 2px solid #1CAC78;
    outline: none;
  }
  .authentication-page-form input{
    accent-color: #1ACc78;
  }
  .authentication-page-form input:user-invalid{
    border:2px solid red;
    outline: none;
  }
  .submit{
    margin: 1rem 0 1rem 0;
    background-color: #1CAC78;
    color:white;
  }
  .form-bottom{
    display: flex;
    justify-content: center;

  }
  .form-links{
    margin: 0 0.5rem 0 0;
    color: #1CAC78;
    font-weight: 500;
  }
  .form-note{
    font-weight: 500;
  }
  .report-link{
    color: #1CAC78;
    text-decoration: underline;
    font-weight: 600;
  }
.show-password-button{
  background:none;
  border:none;
  font-size: 1rem;
  color:#1ACc78;
  margin-left: -1rem;
}
.show-password-div{
  white-space: nowrap;
}