.footer-main-div{
    bottom:0;
    padding: 2rem 1rem;
    display:flex;
    flex:1;
    width:100%;
    height:min-content;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    
}
.footer-copyright-info{
    display:flex;
    height:100%;
    align-items:space-between;
    flex-direction: column;
}
.footer-icon-div{
    display: flex;
    max-width: 10rem;
    max-height: 100%;
}
.footer-icon{
    display:flex;
    width: 100%;
    height:100%;
}