.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.nav-links{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.nav-link{
    display:flex;
    margin-right: 1rem;
    height: 3rem;
    opacity: 50%;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.nav-link:hover{
    opacity: 200%;
    border-bottom: 0.2rem solid black;
}