.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.5rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.sidebar-links{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    width:min-content;
    justify-content: flex-end;


}

.sidebar-link{
    display:flex;
    font-size: 1rem;
    overflow: none;
    align-items:center;
    padding:0.2rem 0.5rem;
    border-radius: 5px ;
    margin-bottom:1rem ;
    font-weight: 600;
    color: black;
    opacity:50%;
}
.sidebar-link.active{
    color:#1CAC78;
    opacity:100%;
    background: rgb(70, 70, 70);
}
.sidebar-link.logout{
    color:darkred;
    opacity: 100%;
}
.sidebar-link>*{
    margin-right: 0.5rem;
    white-space: nowrap;
    font-weight:500;
}
.sidebar-link:hover{
   background: rgb(70, 70, 70);
   color:#1a7;
   opacity:100%;

}

