.dashboard{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width: 100%;
    min-height:100vh;
    background: linen;
}
.dashboard-body{
    display:flex;
    flex:1;
    grid-template-columns:1fr 1fr;
    width:100%;
    gap: 0.5rem;
}

.client-main{
    background:white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.unauthorized-content{
    height:100%;
    width:100%;
    align-items:center;
    font-size: 200%;
}

.dashboard-layout{
    display:grid;
    row-gap:1rem;
    grid-template-rows: 2;
    width:100%;
    min-height:100%;
}
.dashboard-layout div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding:0.5rem;
}
table{
    margin: 1rem 0 0 0;
    width:100%;
    border-collapse: collapse;
    white-space: nowrap;
}
th{
    text-align: start;
    font-weight:500;
}
td,th{
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border:2px solid white;
    background:#bbe6d4;
}
td span{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.more-options{
    padding: 0.5rem 1rem;
    size:1rem;
    font-weight: 700;
    background:none;
    outline:none;
    border:none;
    display: flex;
    justify-self: flex-end;
    position:relative;

}
.more-options:hover{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.confirm-delete{
    position: absolute;
    z-index: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
}
.confirm-delete> *{
    white-space: nowrap;
    margin-bottom: 1rem;
}
.confirm-delete-button{
    width: min-content;
    background:darkred;
    color:white;
    font-weight:500;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.report-info-content{
    display:flex;
    width:100%;
    height:100%;

}
.pop-up-div{
    display:flex;
    flex-direction: column;
    padding:0.5rem;
    background:white;
    width:min-content;
    height:min-content;
    position:absolute;
    right: 0;
    margin-top:7rem;
    z-index: 10;


}
.form-overlay{
    display:flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items:center;
    width:100vw;
    height: 100vh;
    position:fixed;
    z-index:9999;
    background-color: rgba(0, 0, 0, 0.5);
}