.dashboard{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width: 100%;
    min-height:100vh;
    background: linen;
}
.dashboard-body{
    display:flex;
    flex:1;
    grid-template-columns:1fr 1fr;
    width:100%;
    gap: 0.5rem;
}

.client-main{
    background:white;
}

.dashboard-layout{
    display:grid;
    row-gap:1rem;
    grid-template-rows: 2;
    width:100%;
    min-height:100%;
}
.dashboard-layout div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding:0.5rem;
}