
.map-container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    overflow:hidden;
    position: relative;
}
.form-overlay{
    display:flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items:center;
    width:100vw;
    height: 100vh;
    position:fixed;
    z-index:9999;
    background-color: rgba(0, 0, 0, 0.5);
}
.new-property-form-div{
    display:flex;
    background: white;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border-radius: 1rem;
    position:absolute;
    border:2px solid #1CAC70;
    z-index:9999;
}
.new-property-form-div>div{
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}

.new-property-form{
    display:flex;
    flex-direction: column;
    padding:2rem;

}
.new-property-form>input , .new-property-form>textarea,  .new-property-form>select {
    padding:0.5rem;
    width:100%;
    border-radius: 0.5rem;
    border: 1px solid #1CAC70;
    margin-bottom: 1rem;
}

.new-property-form>input:focus , .new-property-form>textarea:focus , .new-property-form>select:focus{
    outline:none;
    border:2px solid #1CAC70;
}

.create-property-header{
    width:100%;
    display:flex;
    justify-content: center;
    align-self: center;
}
.new-property-submit{

    font-weight:650;
    background: #1CAC70;
    color:white;
}


.new-property-toast{
    display:flex;
    padding-bottom:1rem;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:#1CAC70;
}
.close-button{
    border: none;
    background: none;
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.close-button-icon{
    font-size: 1.5rem;
    margin:0.5rem;
    color:#1CAC70;
}
.close-button-icon:hover{
    color:darkred;
}