.top-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:1rem;
    border-radius: 1rem;
    background: rgb(50, 50, 50);
}
.top-section>*{
    margin-right:1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-icon{
    width:15%;
   
}
.role-name{
    color:#1CAC78;
}
.search-input{
    padding:0.5rem;
    background:none;
    outline:none;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 1rem;
    color:white;

}
.nav-link{
    display:flex;
    color:#1CAC78;
    font-size:2rem;
}