.top-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-height: 5rem;
    padding:0.5rem;
}
.top-section>div{
    margin-right:1rem;
    display:flex;
    white-space:nowrap;
    align-items: center;
}


.dashboard-icon{
    max-width:10rem;
}
.role-name{
    color:#1CAC78;
    margin-right: 0.5rem;
}
.search-input{
    padding:0.5rem;
    background:none;
    outline:none;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 1rem;
    color:white;

}
.nav-link{
    display:flex;
    color:#1CAC78;
    font-size:2rem;
}