.authentication-page-grid{
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authentication-page-hero-div{
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.authentication-page-hero{
  width: 100%;
  height: 100%;
  background-color: #1CAC78;
  border-radius:1rem;
  border: 1px solid green;
  box-shadow: 1rem 5rem 5rem gray;
}


.authentication-page-form{
  display:flex;
  flex-direction: column;
  margin:1rem;
  justify-self: center;
  align-items: center;
}
.form-data{
  display:flex;
  flex-direction: column;
}
.authentication-page-form h1 {
  margin-bottom: 5rem;
}
.authentication-page-form h3{
  margin-bottom: 0.5rem;
}
.authentication-page-form label{
  margin:0.5rem 0 2px 0;
}
.authentication-page-form input{

  width: 20rem;
  padding: 0.5rem;
  border: 1px solid #1CAC78;
  border-radius: 0.5rem;
}
.authentication-page-form input:focus{
  border: 2px solid #1CAC78;
  outline: none;
}
.submit{
  margin: 1rem 0 1rem 0;
  background-color: #1CAC78;
  color:white;
}
.form-bottom{
  display: flex;
  justify-content: center;

}
.form-links{
  margin: 0 0.5rem ;
  color: #1CAC78;
  font-weight: 500;
}
