
*{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, monospace;
  line-height: 1.5;
  font-weight: 400;
  word-spacing: 2px;

  padding:0;
  margin:0;
  box-sizing:border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
background: white;
width:100%;
height:100%;
scroll-behavior: smooth;
}

a{
  text-decoration:none;
}

 .active-link{
  color:#1CAC78;
}


.form-div{
  width:100%;
  display:flex;
  align-content: space-between;
  justify-content:center;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
}
.form-header{
    width:100%;
    display:flex;
    justify-content: center;
}

label{
    color:#1CAC78;
    font-weight: 500;
}
form input , form textarea, select{
    padding: 0.5rem ;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline:none;
    border: 1px solid #1CAC78;
    align-items: center;
}
.form input:focus{
    outline: none;
    border: 2px solid #1CAC78;
}

.submit{
  margin: 0.5rem 0;
}

@media(max-width:319px){
  form{
    width:90%;
  }
}

@media (min-width:320px) and (max-width:480px){

    form{
        width: 90%;
    }
    .form-header{
      margin-bottom: 1rem;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){

    form{
    width:60%;


}
}

@media (min-width:769px) and (max-width:1024px){

    form{
        width:60%;
    }
}