*{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  padding:0;
  margin:0;
  box-sizing:border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {

width:100%;
height:100%;
}

a{
  text-decoration:none;
}

 .active-link{
  color:#1CAC78;
}


